:root {
	--indigodark: #0e0c41;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
	font-family: 'Lato', sans-serif;
}

.material-icons { display: inline-flex; vertical-align: text-bottom; }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.main-footer {
}

.main-footer .copyright {
}

.carousel img {
	height: 300px;
}

.carousel .carousel-caption {
    top: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    max-width: 50%;
    opacity: .5;
    padding-top: 10%;
}

.carousel .carousel-caption h2 {
    font-size: 5rem;
}

.carousel .carousel-caption p {
    font-size: 2rem;
}

.ad-img {
	height: 170px;
}

.ad-item .card-footer i {
	font-size: 20px;
}

.ad-item .card-footer {
	display: none;
}

.ad-item:hover .card-footer {
	display: block;
}

.slick-prev, .slick-next, .slick-prev:hover, .slick-next:hover {
	background-color: darkred;
}

@media (max-width: 767px)
{
	.ad-img {
		height: 300px;
	}

	.carousel img {
		height: 300px;
	}
}