:root {
	--primary: #0275d8;
	--success: #5cb85c;
	--info: #5bc0de;
	--warning: #f0ad4e;
	--danger: #d9534f;
	--dark: #292b2c;
	--light: #f7f7f7;
}

.border-hover-solid-primary:hover {
	border: 1px solid var(--primary);
}

.border-hover-solid-success:hover {
	border: 1px solid var(--success);
}

.border-hover-solid-danger:hover {
	border: 1px solid var(--danger);
}

.border-hover-solid-warning:hover {
	border: 1px solid var(--warning);
}

.border-hover-solid-info:hover {
	border: 1px solid var(--info);
}

.border-hover-solid-dark:hover {
	border: 1px solid var(--dark);
}

.border-hover-solid-light:hover {
	border: 1px solid var(--light);
}

.bg-hover-primary:hover {
	background-color: var(--primary);
}

.bg-hover-success:hover {
	background-color: var(--success);
}

ul.navbar-nav .active {
	font-weight: bold;
}

img.logo {
	width: 200px;
	height: 100px;
}

img.logo-xs {
	width: 130px;
	height: 50px;
}

img.img-25x25 {
	height: 25px;
}

img.img-50x50 {
	height: 50px;
}

img.img-100x100 {
	height: 100px;
}

img.img-150x150 {
	height: 150px;
}

img.img-200x200 {
	height: 200px;
}

img.img-250x250 {
	height: 250px;
}

img.img-300x300 {
	height: 300px;
}

.cursor-pointer {
	cursor: pointer;
}

.social-icon {
	border-radius: 50%;
}

.social-icon.facebook {
	padding: 8px 12px !important;
	background-color: #0d47a1;
}

.social-icon.twitter {
	padding: 8px 10px !important;
	background-color: #01579b;
}

.social-icon.instagram {
	padding: 8px 11px !important;
	background-color: #880e4f;
}

.social-icon.telegram {
	padding: 8px 11px !important;
	background-color: #159cea;
}

.social-icon.whatsapp {
	padding: 8px 10px !important;
	background-color: #1b5e20;
}

.social-icon.youtube {
	padding: 8px 10px !important;
	background-color: #b71c1c;
}

#modules {
	display: none;
	z-index: 5;
	top: 0;
	right: 0;
	width: 22rem;
	border-left: 1px solid #e2e2e2;
}

#modules .modules-header {
	/*position: fixed;
	top: 0;
	width: 350px;*/
	border-bottom: 1px solid #e2e2e2;
}

#modules .modules-body {
	height: 80%;
	overflow-y: auto;
}

#modules .modules-body .card:hover {
	background-color: var(--light);
}

#modules .modules-footer {
	position: fixed;
	bottom: 0;
	width: 22rem;
	border-top: 1px solid #e2e2e2;
}

@media (max-width: 767px)
{
	img.img-50x50 {
		height: 100px;
	}

	img.img-100x100 {
		height: 200px;
	}

	img.img-150x150 {
		height: 300px;
	}

	img.img-200x200 {
		height: 400px;
	}

	img.img-250x250 {
		height: 500px;
	}

	img.img-300x300 {
		height: 600px;
	}

	.fs-12 {
		font-size: 14px;
	}

	.p-20 {
		padding: 15px;
	}
}