:root {
	--redLighten5: #ffebee;
	--pinkLighten5: #fce4ec;
	--purpleLighten5: #f3e5f5;
}

.bg-red-lighten-5 {
	background-color: var(--redLighten5);
}

.bg-pink-lighten-5 {
	background-color: var(--pinkLighten5);
}

.bg-purple-lighten-5 {
	background-color: var(--purpleLighten5);
}