:root {
	--indigodark: #0e0c41;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
	font-family: 'Ubuntu', sans-serif;
}

.material-icons { display: inline-flex; vertical-align: text-bottom; }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.main-footer {
	background-color: var(--indigodark);
}

.main-footer .copyright {
}

.carousel img {
	height: 600px;
}

.carousel .carousel-caption {
    top: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    max-width: 50%;
    opacity: .5;
    padding-top: 10%;
}

.carousel .carousel-caption h2 {
    font-size: 5rem;
}

.carousel .carousel-caption p {
    font-size: 2rem;
}

#navbarTop {
	background-color: #0d47a1;
}

#back-to-top {
	left: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .carousel img {
        height: 125px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .carousel img {
        height: 150px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   .carousel img {
       height: 300px;
   }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .carousel img {
        height: 600px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .carousel img {
        height: 900px;
    }
}