:root {
	--blue_1: #0d47a1;
	--blue_2: #213c8f;
	--blue_3: #016fa6;
	--blue_4: #055483;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
	font-family: 'Oswald', sans-serif;
}

.main-footer {
	background-color: #000000;
}

.main-footer .copyright {
}

header .social-icon {
}

footer .social-icon {
}

.carousel img {
	height: 500px;
}

@media (max-width: 767px)
{
	.carousel img {
		height: 250px;
	}
}