:root {
	
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
	font-family: 'Roboto', serif;
}

.main-footer {
	background-color: #000000;
}

.main-footer .copyright {
}

header .social-icon {
}

footer .social-icon {
}

#navbarTop.fixed {
	position: fixed;
	z-index: 5;
}

.load-more__btn {
    color: darkred;
}

.breadcrumb-item + .breadcrumb-item::before {
	content: ">";
}

.accordion .fa {
	margin-right: .5rem;
}

.videoIcon {
	position: fixed;
	bottom: 15px;
	left: 15px;
	z-index: 2;
}

.videoIcon video {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	object-fit: fill;
}

.videoPopup {
	position: fixed;
	bottom: 15px;
	left: 15px;
	z-index: 3;
	width: 320px;
	display: none;
}

.videoPopup .closeVideoPopup {
	cursor: pointer;
}

.videoPopup video {
	height: 320px;
	object-fit: fill;
}

.prd-img {
	height: 170px;
}

.product-item .card-footer i {
	font-size: 20px;
}

.product-item .card-footer {
	display: none;
}

.product-item:hover .card-footer {
	display: block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 	.prd-img {
		height: 230px;
	}

	.videoPopup video {
		height: 230px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 	.prd-img {
		height: 270px;
	}

	.videoPopup video {
		height: 270px;
	}
}
 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.prd-img {
		height: 300px;
	}

	.videoPopup video {
		height: 300px;
	}
}
 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 	.prd-img {
		height: 320px;
	}

	.videoPopup video {
		height: 340px;
	}
}
 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.prd-img {
		height: 320px;
	}

	.videoPopup video {
		height: 360px;
	}
}