:root {
	
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
	font-family: 'Roboto Slab', serif;
}

.main-footer {
	background-color: #000000;
}

.main-footer .copyright {
}

header .social-icon {
}

footer .social-icon {
}

#navbarTop.fixed {
	position: fixed;
	z-index: 5;
}

.load-more__btn {
    color: darkred;
}

.breadcrumb-item + .breadcrumb-item::before {
	content: ">";
}

.accordion .fa {
	margin-right: .5rem;
}

.videoIcon {
	position: fixed;
	bottom: 15px;
	left: 15px;
	z-index: 2;
}

.videoIcon video {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	object-fit: fill;
}

.videoPopup {
	position: fixed;
	bottom: 15px;
	left: 15px;
	z-index: 3;
	width: 320px;
	display: none;
}

.videoPopup .closeVideoPopup {
	cursor: pointer;
}

.videoPopup video {
	height: 320px;
	object-fit: fill;
}

.prd-img {
	height: 170px;
}

.product-item .card-footer i {
	font-size: 20px;
}

.product-item .card-footer {
	display: none;
}

.product-item:hover .card-footer {
	display: block;
}

@media (max-width: 767px)
{
	.prd-img {
		height: 300px;
	}

	.videoPopup video {
		height: 320px;
	}
}